*{
    padding: 0;
    background-color: #141E27;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 37vmax;
    margin: auto;
    border: 2px solid rgb(85, 83, 83);
    padding-top: 0.5%;
    margin-top: 4rem;
}
.inn-container{
    width: 100%;
    margin-top: 2rem;
    padding:1em 1.5em;
}

.inner-container input{

    width: 95%;
    height: 90px;
    margin-top:1.6rem;
    margin-left: .9vmax;
    text-align: end;
    font-size: 3rem;
    border: 0;
    background-color: lightgray;
    box-shadow: 0px -1px 0px 2px rgb(231, 225, 225);

    
}

button{
    width: 3.2rem;
    height: 3rem;
    border-radius: .9rem;
    margin-top: .7em;
    margin-left: 1em;
    margin-right: .5em;
    font-size: large;
    cursor: pointer;
    color: rgb(246, 248, 249);
    border: none;
    box-shadow: inset 0px -1px 2px 2px rgb(183, 143, 104);
}
.symbol{
    background-color: rgb(218, 193, 130);
}
.symbol:hover{
    background-color: #FCDEC0;
    color: black;
}
.item2{
    background-color:   rgb(199, 153, 83);
}
.item2:hover{
    background-color: rgb(148, 133, 111);
} 
.item3:hover{
    background-color: rgb(237, 211, 172);
    color: black;
} 
.item4{
    box-shadow: 0px -1px 0px 2px rgb(231, 225, 225);
} 
.item4:hover{
    background-color:#f6f5f3;
    color: black;
}

@media (min-width:2332px){
    .container{
        width: 26vmax;
    }
    button{
        margin-left: 2.8em;
        margin-right: 0.3em;
    }
    input{
        margin-left: 0.7vmax;
    }
    .inn-container{
        padding: 1em -o.5em;
    }
}